/* basic webpage set-up */
head,body{
    background-color: rgb(48, 46, 46);


}

body {
	background-color: rgb(48, 46, 46);
	color: white;
    /* display: flex; Add this to make the body a flex container */
}


h1{
    position:fixed;
    text-align: center;
    left: 50%;
    transform: translate(-50%,0);
    width:100%;

    font-size: xxx-large;
    font-family: 'Futura';
    color: rgb(255, 243, 243);
    background:#A43B2C;

    white-space: nowrap;
    margin:2vh;
    z-index:10;
}

.pictures{
    display: block;
    position: relative;
}


#I_Paint_my_own {
    opacity: 1;
    transition: opacity 7s ease-in-out;
    max-height: 100vh;
    margin-left: 3vh;
    margin-top: 2vh;
    /* margin-top:-20%;  */
    z-index: 0;
}

.texts{
    display: flex;
    position: relative;

/* text setup */
    color: white;
    padding-left: 10px;
    /* text-align:justify;  */

/* border setups */
    border: 8px;
    border-style: double;
    border-color: white;
    width: 500px;

    z-index: 1;
}

#frida_Intro{
    margin-left:50%;
    margin-top:-80vh;
    z-index: 0;     
}

#The_Two_Fridas{
    margin-top: 20vh;
    margin-left: 15vh;
    /* width:50%; this is not working */

    /* padding-right: 0%; */
}

#The_Two_Fridas_Paintings{
    display:block;
    width:50vh;
    margin-left:60%;
    margin-top:-25%;
    z-index: 1;

}

#self_portrait_dedicated_to_drEloesser{
    display:block;
    width:50vh;
    margin-left:25vh;
    z-index: 1;

}